@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
body {
  background-color: #1E1E1E;
  background-image: url("/assets/background.jpg");
  background-position: left top;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  font: 16px 'Titillium Web', sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 15px auto;
}

#content {
  margin: 0px auto 0px;
  width: 80%;
  max-width: 1000px;
  background-color: #F9F9F9;
  border-radius: 6px;
  padding: 10px;
}

div#details p {
  font: 18px 'Titillium Web', sans-serif;
}

h1 {
  font-size: 34px;
  font-weight: normal;
  margin-top: 0;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

p {
  margin: 0 0 10px 5px;
}

div#content {
  text-align: center;
}

main {
  margin-top: 15px;
  text-align: left;
}

div.container {
  display: flex;
  flex-wrap: wrap;
}

div.box {
  padding: 10px;
  flex-grow: 1;
  flex-basis: 0;
  white-space: nowrap;
}
